@import "./colors.css";
@import "./details.css";

html,
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  height: 100%;

  background-color: var(--bg);
  color: var(--color);
  transition: background-color .5s;
}

#__nuxt,
#__layout {
  height: 100%;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.5s ease;
}

a:active,
a:hover {
  color: var(--color);
}
